<div>
  <div *ngIf=displayValue>
    {{cellDisplayValue}}
  </div>

  <div *ngIf=displayCheckbox>
      <mat-checkbox (click)="onClickCheckBox($event, cellType)">Check me!</mat-checkbox>
      <!-- <input type="checkbox" name="checkReminder" data-field="id" value="hello" (click)="onClickCheckBox($event, cellType)"/> -->
  </div>

  <div *ngIf=displayButton>
      <button mat-button (click)="onClickButton($event, cellType)">Click button here</button>
  </div>

  <div *ngIf=displayLink>
      <!-- <a href="https://github.com/angular/angular-cli/wiki">Download</a> -->
      <a href="{{cellDisplayValue}}">Download</a>
  </div>
</div>
