<div class="container">
  <div class="row">
    <h4 class="col-sm-6">This is a table using angular material</h4>
    <h6 class="col-sm-12"> Building table overview</h6>
    <div class="col-sm-12">
      <app-table-overview></app-table-overview>
    </div>

    <!-- <div class="col-sm-12">
        <app-table-row></app-table-row>
    </div> -->

    <!-- <h6 class="col-sm-12"> Simple test</h6>
    <div class="col-sm-12">
      <app-table></app-table>
    </div> -->

  </div>
  <!-- <div class="row">
      <app-table-cell cellType="{{ cellElement }}" cellDisplayValue="{{ cellValue }}"  (callbackFunction)="myFunction($event)"></app-table-cell>
  </div> -->
</div>

  <!-- <div class="row">
      <div class="btn-group " dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Button dropdown <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
        
        
        <div class="btn-group" dropdown [isOpen]="status.isopen" (isOpenChange)="change($event)" placement="top">
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Button dropdown <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else
              here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary" (click)="toggleDropdown($event)">Toggle</button>
    
    </div> -->

  <!-- <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table> -->




<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
