<p>
  table-overview works!
</p>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSourceOverview">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position"> -->

    <ng-container matColumnDef="Id">
      <mat-header-cell  *matHeaderCellDef>-</mat-header-cell>
      <mat-cell  *matCellDef="let element"> 
        <!-- {{element.Id}}  -->
          <app-table-cell cellType="checkbox" cellDisplayValue=""  (callbackFunction)="callbackCheckBox($event, element)"></app-table-cell>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PackageId">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <!-- {{element.PackageId}}  -->
          <app-table-cell cellType="button" cellDisplayValue=""  (callbackFunction)="callBackButton($event, element)"></app-table-cell>
        </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="Email">
          <mat-header-cell [ngClass]="{'hide-column-and-cells': true }" *matHeaderCellDef> E-mail</mat-header-cell>
          <mat-cell [ngClass]="{'hide-column-and-cells': true }" *matCellDef="let element"> {{element.Email}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="Email">
        <mat-header-cell [ngClass]="{'hide-column-and-cells': hideColumn() }" *matHeaderCellDef> E-mail</mat-header-cell>
        <mat-cell [ngClass]="{'hide-column-and-cells': hideColumn() }" *matCellDef="let element"> {{element.Email}} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="Firstname">
        <mat-header-cell *matHeaderCellDef> Firstname</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Firstname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Lastname">
        <mat-header-cell *matHeaderCellDef> Lastname</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Lastname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DateTimeCreated">
      <mat-header-cell *matHeaderCellDef> Created</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DateTimeCreated}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DateTimeSigned">
      <mat-header-cell *matHeaderCellDef> Signed</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DateTimeSigned}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SignedDocumentUrl">
      <mat-header-cell *matHeaderCellDef> Contract</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <!-- {{element.SignedDocumentUrl}}  -->
          <div *ngIf="element.SignedDocumentUrl; else content">
              <app-table-cell cellType="link" cellDisplayValue="{{element.SignedDocumentUrl}}"  ></app-table-cell>
          </div>
          <ng-template #content>N/A</ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="AuditUrl">
        <mat-header-cell *matHeaderCellDef> Audit</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <div *ngIf="element.AuditUrl; else content">
              <app-table-cell cellType="link" cellDisplayValue="{{element.AuditUrl}}"></app-table-cell>
          </div>
          <ng-template #content>N/A</ng-template>
            
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <!-- <div [style.color]="'green'">{{element.Status}} </div> -->
            <div [style.color]="setColor(element)">{{element.Status}} </div>
          </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>